<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Welcome to Our Application</h1>
    <div class="home-menu">
      <a href="/login">Login</a> | <a href="/register">Register</a>
    </div>
  </body>
</html>
