<!DOCTYPE html>
<html>
  <head>
    <title>Login Successful</title>
  </head>
  <body>
    <h1>Login Successful</h1>
    <p>Your token: <%= token %></p>
    <a href="/protected">Go to Protected Content</a>
  </body>
</html>
