<!DOCTYPE html>
<html>
  <head>
    <title>Login Successful</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>Login Successful</h1>
      <a href="/">Logout</a>
    </main>
  </body>
</html>
